.beer__card {
	position: relative;
	margin: 1.5rem auto;
	padding: 1.5rem;
	width: 20rem;
	background: rgb(247, 246, 246);
	border-radius: 0.75rem;
}

.beer__card img {
	margin: 0 auto 1.75rem;
	width: 8rem;
}

.beer__card h2 {
	margin: 0.75rem 0;
	text-transform: uppercase;
}

.beer__card button {
	position: absolute;
	top: 1.5rem;
	right: 1.5rem;
}

.error-message {
	width: 20rem;
	margin: 2rem auto;
	padding: 1rem;
	text-align: center;
	color: rgb(179, 10, 10);
	background: rgb(241, 226, 226);
	border-radius: 0.75rem;
}

.remove {
	color: rgb(200, 32, 32);
}

.hide {
	display: none;
}
