.modal {
	position: fixed;
	width: 100vw;
	height: 100vh;
	top: 0;
	left: 0;
	z-index: 100;
	display: flex;

	justify-content: center;
	align-items: center;
	opacity: 0;
	pointer-events: none;
	transition: 0.3s;
}

.modal.open {
	pointer-events: all;
	background: rgba(0, 0, 0, 0.3);
	display: flex;
	opacity: 1;
}

.modal__content {
	position: relative;
	width: 30rem;
	padding: 2rem;
	display: flex;
	flex-direction: column;
	background: white;
	border-radius: 9px;
	text-align: start;
	text-transform: capitalize;
}
